CompileFlags:
  Add:
    - -I./Core/Inc
    - -I./Drivers/STM32F1xx_HAL_Driver/Inc
    - -I./Drivers/CMSIS/Device/ST/STM32F1xx/Include
    - -I./Drivers/CMSIS/Include
    - -DSTM32F103xB
    - -DUSE_HAL_DRIVER
    - --target=arm-none-eabi
